/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*	Layout  */
*,
*:before,
*:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	background-color: #A4D7D7;
}

.container {
	margin: 0 auto;
	padding-left: 7px;
	padding-right: 30px;
	width: 960px;
	box-shadow: -2px 2px 1px #5CBECF;
}

.header {
	height: 50px;
	margin-top: 5px;
	background-color: #F66700;
	border: 1px solid #000;
	box-shadow: -2px 2px 1px #5CBECF;
}

.logo {
	padding-top: 20px;
	display: inline-block;
}

.feed {
	padding: 10px 80px 66px 80px;
	height: 100%;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	background-color: #E0E4CC;
}


/* Buttons */
.btn {
	color: #424242;
	font-weight: bold;
	letter-spacing: 2px;
	word-spacing: 2px;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-left: 355px;
	margin-right: auto;
	background-color: #E0E4CC;
	box-shadow: -2px 2px 1px #A9AB9A;
	outline: none;
}

.btn:active	 {
	margin-left: 353px;

}

.update {
	border: 1px solid #F66700;
	padding: 0px 5px;
}

/*  Typography  */
body {
	color: #424242;
	font: 400 16px/22px Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 28px;
}

.tweetUser {
	font-weight: bold;
}

/*  Links  */
a {
	text-decoration: none;
	color: #424242;
}

a:hover {
	color: #A1D3D3;
}

/*  Tweets  */
.tweet {
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 2px;
	margin-bottom: 5px;
	box-shadow: -2px 2px 1px #A9AB9A;
}

/* Utility */
.invisible {
	display: none;
}